extends layout

block content
  h1 Speak Now
  h1
    span(id="hours") 00
    span(id="minutes") 00
    span(id="seconds") 00
  p or forever hold your piece
  div(id='results')
    textarea(id="result")
  p(id='finalSpan')
  div(id='recordDiv')
    a(href="#",id='record') Record
    a(href="#", id='camera') Camera
    a(href="#", id='stopRecord') Stop Record
  div(id='cameraDiv')
    video(id='video',autoplay,muted='true')
