extends layout

block content
  h1 Speak Now
  h1
    span(id="hours") 00
    span(id="minutes") 00
    span :
    span(id="seconds") 00
  p or forever be like, you know, seriously whatever
  div(id='recordDiv')
    a(href="#",id='record') Record
    a(href="#", id='stopRecord') Stop Record
  div(id='cameraDiv')
    video(id='video',autoplay,muted='true')
  div(id='results')
